
body {
  background-color: #C69C6D;
  background-image:
    linear-gradient(
      #42210B, #C69C6D
    );
    height: 1000px;
    box-sizing: border-box;
}

h1 {
	font-family: 'Cinzel', serif;
	text-align: center;
	color: white;
}

.round {
	background-color: #A67C52;
	border-radius: 10px;
	border: 1px solid #fff;
	height: 200px;
}